<div>
  <h1 class="tituloProyectoE"> <%= tarea[0].nombreP %></h1>
  <div class="notification is-info horasTotales">
    <strong>HORAS TOTALES:  
    <%= proyecto[0].horas %> </strong>
    <div type="number" id="horasTotalesProyecto">

    </div>
  </div>
</div>


<div class="card">
  
  <table class="table is-fillwidth tablahorasXtarea">
    <thead>
      <tr>
        <th>Tarea</th>
        <th>Fecha</th>
        <th>Horas</th>
        <th>Colaboradores</th>
        <th> Acciones </th>
      </tr>
    </thead>
    <tbody>
      <% for (let t of tarea) { %>
      <tr>
        <td><%= t.nombreT %></td>
        <td><%= new Date(t.fecha).toLocaleString('ES-mx'); %></td>
        <td id="horasTrabajo"><%= t.horasTrabajo %></td>
        <br>
        <td>
          <% for (let c of t.colaboradores) { %>
            <%= c.nombre %></br>
          <% } %>
        </td>
        <td><img src="../../media/editar.png" alt="boton editar" id="botonEditar">
          <img src="../../media/borrar.png" alt="boton borrar" id="botonBorrar22"></td>
      </tr>
    <% } %>
    </tbody>
  </table>
</div>
