<div>
  <h1 class="tituloProyectoE"> <%= tarea[0].nombreP %></h1>
  <div class="notification is-info horasTotales">
    <strong>HORAS TOTALES </strong>
  </div>
</div>


<div class="card">
  
  <table class="table is-fillwidth tablahorasXtarea">
    <thead>
      <tr>
        <th>Tarea</th>
        <th>Fecha</th>
        <th>Horas</th>
        <th>Colaboradores</th>
        <th> Edicion </th>
        <th> Borrar </th>
      </tr>
    </thead>
    <tbody>
      <% for (let t of tarea) { %>
      <tr>
        <td><%= t.nombreT %></td>
        <td><%= new Date(t.fecha).toLocaleString('ES-mx'); %></td>
        <td><%= t.horasTrabajo %></td>
        <br>
        <td>
          <% for (let c of t.colaboradores) { %>
            <%= c.nombre %></br>
          <% } %>
        </td>
      </tr>
    <% } %>
    </tbody>
  </table>
</div>
