<% if(mensaje != "") {  %>

  <div class="notification is-success is-light exitoTarea" id="snackbar">
  Tarea Editada <strong>correctamente</strong>
  </div>

<% } %>

<div>
  <h1 class="tituloProyectoE"> <%= tarea[0].nombreP %></h1>
  <div class="notification is-info horasTotales">
    <strong>HORAS TOTALES:  
    <%= proyecto[0].horas %> </strong>
    <div type="number" id="horasTotalesProyecto">

    </div>
  </div>
</div>

<div class="field is-static">

  <table  id="table_tarea">

    <thead>
      <tr>
        <th><abbr title="Tarea">Tarea</abbr></th>
        <th><abbr title="Horas">Horas</abbr></th>
        <th><abbr title="Colaboradores">Colaboradores</abbr></th>
        <th><abbr title="Editar">Editar</abbr>  </th>
        <th><abbr title="Borrar">Borrar</abbr></th>
      </tr>
    </thead>

    <tbody>
      <% for (let t of tarea) { %>
        <tr>
          <td><%= t.nombreT %></td>
          <td id="horasTrabajo"><%= t.horasTrabajo %></td>
          <br>
          <td>
            <% for (let c of t.colaboradores) { %>
              <%= c.nombre %></br>
            <% } %>
          </td>
          <td> <a href="/tarea/editar/<%= t.idTarea %>"><img src="../../media/edit.png" alt="boton editar" id="botonEditar"></a></td>
          <td> 
            <figure class="js-modal-trigger is-clickable"  onclick="eliminar(<%= t.idTarea %>)"  data-target="modal-js-example">
              <img src="../../media/borrar.png" alt="boton borrar" id="botonBorrar22">
            </figure> 
          </td>
        </tr>
      <% } %>
    </tbody>
    
  </table>

  <input class="input" type="hidden" value="<%= tarea[0].idProyecto %>" id="idProyecto" name="idProyecto">
  <button class="button is-info is-outlined botonRegreso2"><a href="/user/inicio"> Regresar a inicio</a></button>

</div>

<div class="modal" id="modal-js-example">
  <div class="modal-background"></div>
  <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title">Eliminar tarea</p>
          <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
          Estás a punto de <span class="is-red">eliminar</span> la tarea seleccionada. <br>
          ¿Quieres continuar con este proceso?
      </section>
      <footer class="modal-card-foot">
          <a  id="botonEliminarTareaModal" href="test"><button class="button is-danger" href="#">Eliminar</button></a>
          <button class="button">Cancelar</button>
      </footer>
  </div>
</div>

<script>
  $(document).ready( function () {
$('#table_tarea').DataTable({
                language: {
                    processing: "Tratamiento en curso...",
                    search: "Buscar&nbsp;:",
                    lengthMenu: "Agrupar de _MENU_ items",
                    info: "Mostrando del item _START_ al _END_ de un total de _TOTAL_ items",
                    infoEmpty: "No existen datos.",
                    infoFiltered: "(filtrado de _MAX_ elementos en total)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron datos con tu búsqueda.",
                    emptyTable: "No hay datos disponibles en la tabla.",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": active para ordenar la columna en orden ascendente",
                        sortDescending: ": active para ordenar la columna en orden descendente"
                    }
                },
                scrollY: 400,
                lengthMenu: [ [5, 10, -1], [5, 10, "All"] ],
            });
  } );

  window.onload = function() {
        // Get the snackbar DIV
        var x = document.getElementById("snackbar");
        // Add the "show" class to DIV
        x.className = "show";
    // After 3 seconds, remove the show class from DIV
        setTimeout(function(){ x.className  = x.className.replace("show",""); }, 3000);
    };

    function eliminar(idTareaModal) {
        document.getElementById("botonEliminarTareaModal").href="/tarea/eliminarTarea/" + idTareaModal;
    }


    document.addEventListener('DOMContentLoaded', () => {
  // Functions to open and close a modal
  function openModal($el) {
    $el.classList.add('is-active');
  }

  function closeModal($el) {
    $el.classList.remove('is-active');
  }

  function closeAllModals() {
    (document.querySelectorAll('.modal') || []).forEach(($modal) => {
      closeModal($modal);
    });
  }

  // Add a click event on buttons to open a specific modal
  (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
    const modal = $trigger.dataset.target;
    const $target = document.getElementById(modal);

    $trigger.addEventListener('click', () => {
      openModal($target);
    });
  });

  // Add a click event on various child elements to close the parent modal
  (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
    const $target = $close.closest('.modal');

    $close.addEventListener('click', () => {
      closeModal($target);
    });
  });

  // Add a keyboard event to close all modals
  document.addEventListener('keydown', (event) => {
    const e = event || window.event;

    if (e.keyCode === 27) { // Escape key
      closeAllModals();
    }
  });
});

</script>






