<h1 class="tituloproyecto2"> <%= tarea[0].nombreP %></h1>
<div class="card">
  <table class="table is-fillwidth">
    <thead>
      <tr>
        <th>Tarea</th>
        <th>Fecha</th>
        <th>Horas</th>
        <th>Colaboradores</th>
      </tr>
    </thead>
    <tbody>
      <% for (let t of tarea) { %>
      <tr>
        <td><%= t.nombreT%></td>
        <td><%= t.fecha %></td>
        <td><%= t.horasTrabajo%></td>
        <td><%= t.nombre %></td>
      </tr>
    <% } %>
    </tbody>
  </table>
</div>
