
<div>
  <h1 class="tituloProyectoE"> <%= tarea[0].nombreP %></h1>
  <div class="notification is-info horasTotales">
    <strong>HORAS TOTALES:  
    <%= proyecto[0].horas %> </strong>
    <div type="number" id="horasTotalesProyecto">

    </div>
  </div>
</div>


<div class="card">
  
  <table class="table is-fillwidth tablahorasXtarea">
    <thead>
      <tr>
        <th>Tarea</th>
        <th>Horas</th>
        <th>Colaboradores</th>
        <th> Editar </th>
        <th> Borrar </th>
      </tr>
    </thead>
    <tbody>
      <% for (let t of tarea) { %>
      <tr>
        <td><%= t.nombreT %></td>
        <td id="horasTrabajo"><%= t.horasTrabajo %></td>
        <br>
        <td>
          <% for (let c of t.colaboradores) { %>
            <%= c.nombre %></br>
          <% } %>
        </td>
        <td> <a href="/tarea/editar/<%= t.idTarea %>"><img src="../../media/editar.png" alt="boton editar" id="botonEditar"></a></td>
        <td> <a href="/tarea/eliminarTarea/<%= t.idTarea %>"><img src="../../media/borrar.png" alt="boton borrar" id="botonBorrar22"></a></td>
      </tr>
    <% } %>
    </tbody>
  </table>
  <input class="input" type="hidden" value="<%= tarea[0].idProyecto %>" id="idProyecto" name="idProyecto">
</div>
