<% if(mensaje != "") {  %>

    <div class="notification is-success is-light exitoTarea">
    Proyecto creado <strong>correctamente</strong>
    </div>
    
<% } %>
        <h1 class="titulo">Mis Proyectos</h1>
        
            <div class="column is-mobile">
                <div class="columns">
                    <% for (let p of misproyectos) { %>
                    <div class="column">
                        <div class="card auto">
                            <div class="card-content">
                                <p class="title">
                                    <%= p.nombreP %>
                                </p>
                                <p class="subtitle">
                                    <%= p.descripcion %>
                                </p>
                                <div class="content">
                                    Stack Tecnológico: <%= p.stackTecnologico %> <br>
                                    Estatus: <%= p.estatus%>

                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>  
            </div>

            <div class="column is-mobile">
                <div class="columns">
                    <% for (let t of todosproyectos) { %>
                            <% if (misproyectos.nombreP != t.nombreP) { %>
                                <div class="column">
                                    <div class="card auto">
                                        <div class="card-content">
                                            <p class="title">
                                                <%= t.nombreP %>
                                            </p>
                                            <p class="subtitle">
                                                <%= t.descripcion %>
                                            </p>
                                            <div class="content">
                                                Stack Tecnológico: <%= t.stackTecnologico %> <br>
                                                Estatus: <%= t.estatus%>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                    <% } %>
                </div>  
            </div>
        



