<% if(mensaje != "") {  %>

    <div class="notification is-success is-light exitoTarea" >
    Proyecto creado <strong>correctamente</strong>
    </div>
    
<% } %>
    
    <div class="columns colProyecto">
        <div class="column is-full">    
            <h1 class="titulo-MisProyectos">Mis Proyectos</h1>
            <br>
            <br>  
            <div class="field is-horizontal proyectoVista">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <% for (let p of misproyectos) { %>
                            <% if (p.estatus != "Finalizado") { %>
                                <div class="swiper-slide card">
                                    <div class="card-content">
                                        <div class="title">
                                            <%= p.nombreP %>
                                        </div>
                                        <div class="subtitle">
                                            <%= p.descripcion %>
                                        </div>
                                        <div class="content">
                                            Stack Tecnológico: <%= p.stackTecnologico %> <br>
                                            Estatus: <%= p.estatus%>
                                            <a href="/proyecto/editar/<%= p.idProyecto %>"><img src="../../media/editar.png" id="editarProyecto"></a>
                                            <a href="/proyecto/eliminar/<%= p.idProyecto %>"><img src="../../media/borrar.png" id="borrarProyecto"></a>
                                            
                                        </div>
                                    </div> 
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <br>
            <div class="field is-horizontal">
                <h1 class="titulo-medio">TODOS PROYECTOS</h1>
            </div>
            <br>
            <div class="field is-horizontal proyectoVista">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <% for (let t of todosproyectos) { %>
                            <% if (t.estatus != 'Finalizado') { %>
                                <div class="swiper-slide card">
                                    <div class="card-content">
                                        <div class="title">
                                            <%= t.nombreP %>
                                        </div>
                                        <div class="subtitle">
                                            <%= t.descripcion %>
                                        </div>
                                        <div class="content">
                                            Stack Tecnológico: <%= t.stackTecnologico %> <br>
                                            Estatus: <%= t.estatus%>
                                        <% if(listaPrivilegios.indexOf('ModProyectos') != -1) {  %>
                                            <a href="/proyecto/editar/<%= t.idProyecto %>"><img src="../../media/editar.png" id="editarProyecto"></a>
                                            <a href="/proyecto/eliminar/<%= t.idProyecto %>"><img src="../../media/borrar.png" id="borrarProyecto"></a>
                                        <% } %>
                                        </div>
                                    </div> 
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 2,
    spaceBetween: 15,
    slidesPerGroup: 2,
    loop: true,
    loopFillGroupWithBlank: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

