
<% if(mensaje != "") {  %>

    <div class="notification is-success is-light exitoTarea" id="snackbar">
    Proyecto Guardado <strong>correctamente</strong>
    </div>

<% } %>
    <div class="columns ">
        <div class="column is-four-fifths is-offset-1">   
            <h1 class="titulo-MisProyectos">Mis Proyectos</h1>
            <div class="field is-horizontal proyectoVista">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <% for (let p of misproyectos) { %>
                            <% if (p.estatus != "Pausado") { %>
                                <div class="swiper-slide card" id="gris-clare">
                                    <% if(listaPrivilegios.indexOf('EditarProyecto') != -1) {  %>
                                    <a href="/proyecto/editar/<%= p.idProyecto %>"><figure class="image is-24x24 botonEditarProyecto is-clickable" >
                                        <img src="/media/edit-free-icon-font.png">
                                    </figure></a>
                                    <a href="/proyecto/eliminarProyecto/<%= p.idProyecto %>"><figure class="image is-24x24 js-modal-trigger botonEliminarProyecto is-clickable" data-target="modal-js-example" data-idProyecto="<%p.idProyecto%>">
                                        <img src="/media/borrar2.png">
                                    </figure></a>
                                    <% } %>
                                    <div class="card-content"> 
                                        <i src="/media/edit-free-icon-font.png"></i>
                                        <div class="title" id="blanco">
                                            <%=p.nombreP %>
                                        </div>
                                        <div class="subtitle" id="blanco">
                                            <%= p.descripcion %>
                                        </div>
                                        <div class="content">
                                            <p>
                                            Stack Tecnológico:  <%=p.stackTecnologico %> <br>
                                            Estatus:<% if( p.estatus == "Estabilizacion") { %>
                                                <span style="color: green"><%= p.estatus %></span>
                                            <%} else if (p.estatus == "Ejecucion" ) { %>
                                                <span style="color: yellow"><%= p.estatus %></span>
                                            <% } else if(p.estatus == "Definicion") { %>
                                                <span style="color: orange"><%= p.estatus %></span>
                                            <% } else if(p.estus == "Pausado") { %>
                                                <span style="color: red"><%= p.estatus %></span>
                                            <% } %>
                                            </p>
                                        </div>
                                    </div> 
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="field is-horizontal">
                <h1 class="titulo-medio"></h1class>Todos los Proyectos</h1>
            </div>

            
            <div class="field is-horizontal proyectoVista">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <% for (let t of todosproyectos) { %>
                            <% if (t.estatus != "Pausado") { %>
                                <div class="swiper-slide card" id="azul">
                                    <% if(listaPrivilegios.indexOf('EditarProyecto') != -1) {  %>
                                    <a href="/proyecto/editar/<%= t.idProyecto %>"><figure class="image is-24x24 botonEditarProyecto is-clickable" href="/proyecto/editar/<%= t.idProyecto %>" >
                                        <img src="/media/edit-free-icon-font.png">
                                    </figure></a>
                                    <a href="/proyecto/eliminarProyecto/<%= t.idProyecto %>"><figure class="image is-24x24 js-modal-trigger botonEliminarProyecto is-clickable" data-target="modal-js-example" data-idProyecto="<%t.idProyecto%>">
                                        <img src="/media/borrar2.png">
                                    </figure></a>
                                    <% } %>
                                    <div class="card-content">
                                        <div class="title" id="blanco">
                                            <%= t.nombreP %>
                                        </div>
                                        <div class="subtitle" id="blanco">
                                            <%= t.descripcion %>
                                        </div>
                                        <div class="content">
                                            Stack Tecnológico: <%= t.stackTecnologico %> <br>
                                            Estatus: <% if( t.estatus == "Estabilizacion") { %>
                                                <span style="color: green"><%= t.estatus %></span>
                                            <%} else if (t.estatus == "Ejecucion" ) { %>
                                                <span style="color: yellow"><%= t.estatus %></span>
                                            <% } else if(t.estatus == "Definicion") { %>
                                                <span style="color: orange"><%= t.estatus %></span>
                                            <% } else if(t.estus == "Pausado") { %>
                                                <span style="color: red"><%= t.estatus %></span>
                                            <% } %>
                                        </div>
                                        
                                    </div> 
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                    <div class="swiper-button-next derecha"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-js-example">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Eliminar Proyecto</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                Estás a punto de <span class="is-red">Eliminar</span> el proyecto seleccionado. <br>
                ¿Quieres continuar con este proceso?
            </section>
            <footer class="modal-card-foot">
                <button class="button is-danger" href="/proyecto/eliminarProyecto/:idProyecto">Eliminar</button>
                <button class="button">Cancelar</button>
            </footer>
        </div>
    </div>




<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 2,
    spaceBetween: 30,
    slidesPerGroup: 2,
    loop: true,
    loopFillGroupWithBlank: true,
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
    },
});


    window.onload = function() {
        // Get the snackbar DIV
        var x = document.getElementById("snackbar");
        // Add the "show" class to DIV
        x.className = "show";
    // After 3 seconds, remove the show class from DIV
        setTimeout(function(){ x.className  = x.className.replace("show",""); }, 3000);
    };



    document.addEventListener('DOMContentLoaded', () => {
  // Functions to open and close a modal
  function openModal($el) {
    $el.classList.add('is-active');
  }

  function closeModal($el) {
    $el.classList.remove('is-active');
  }

  function closeAllModals() {
    (document.querySelectorAll('.modal') || []).forEach(($modal) => {
      closeModal($modal);
    });
  }

  // Add a click event on buttons to open a specific modal
  (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
    const modal = $trigger.dataset.target;
    const $target = document.getElementById(modal);

    $trigger.addEventListener('click', () => {
      openModal($target);
    });
  });

  // Add a click event on various child elements to close the parent modal
  (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
    const $target = $close.closest('.modal');

    $close.addEventListener('click', () => {
      closeModal($target);
    });
  });

  // Add a keyboard event to close all modals
  document.addEventListener('keydown', (event) => {
    const e = event || window.event;

    if (e.keyCode === 27) { // Escape key
      closeAllModals();
    }
  });
});
</script>

