<!-- en action ponemos la ruta-->


<!-- quitar en el script el que vea que tengo un nombre registrado -->
<div class="field is-static">
  <h1 class="titulo">Editar Tarea</h1>
</div>


<div class="editarTarea"> 

  <input class="input" type="hidden" value="<%= tarea[0].idProyecto %>" id="idProyecto" name="idProyecto">

    <div class="field-label is-normal">
      <div class="labelt">
        <div class="row">
          <label class="label">Nombre de tarea</label>
        </div>
      </div>
      <div class="row">
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input value = "<%= tarea[0].nombreT %>" class="input" type="text" placeholder="Escribe aqui"  id="nombreT" name="nombreT">
            </div>
          </div>
        </div>
      </div>

      <div class="label" >
        <div class="row">
          <label class="label">Colaboradores Registrados: </label>
        </div>
        <ul id="listaColabsRegistrados">
          <% for (let t of tarea) { %>
            <li><%= t.nombre %> 
              <% if( tarea.length > 1) { %>
                <a href="/tarea/eliminar/<%= t.ID %>"><img src="../../media/menos.png" id="borrarColab"></a> 
              <% } %>
              </li>
          <% } %>
        </ul>
      </div>

      <div class="label" >
        <div class="row">
          <label class="label">Agregar Colaboradores: </label>
        </div>
        <div id="cajaColabs">
          <ul id="agregarColaboradores">
            <% for (let e of empleado) { %>
              <li><%= e.nombre %> 
                  <a href="/tarea/asignar/<%= tarea[0].idTarea %>/empleado/<%= e.idEmpleado %>"><img src="../../media/mas.png" id="addColab"></a> 
              </li>
            <% } %>
          </ul>
      </div>
      </div>
            
    
      <div class="field-label is-normal">
        <div class="labelt">
          <div class="row">
            <label class="label">HORAS DE TRABAJO  </label>
          </div>
        </div>
        <div class="row">
          <div class="field-body">
            <div class="field">
              <div class="field has-addons">
                <div class="row">
                  <p class="control">
                    <input value = "<%= tarea[0].horasTrabajo %>" class="input is-danger" type="number" min="0" placeholder="1"  id="horasTrabajo" name="horasRegistradas">
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <input type="submit" onclick="postTareaEditada()" value="Guardar cambios"
          class="button botonAgregarTarea is-success is-outlined">
        </p>
      </div>

     
    </div>
  <!-- </form> -->
</div>        
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
function postTareaEditada(){
  let idProyecto = document.getElementById("idProyecto")
  let nombreT = document.getElementById("nombreT");
  let horasRegistradas = document.getElementById("horasTrabajo");
  var pathArray = window.location.pathname.split('/');
  let ruta = "/tarea/editar/" + pathArray[pathArray.length-1];
  let data = {
    nombreT: nombreT.value,
    horasRegistradas: horasRegistradas.value,
    idProyecto: idProyecto.value
    }
    console.log(data);
    fetch(ruta, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body:JSON.stringify(data)
    })
    .then(response => response.json())
    .then(response => {
      console.log(response);
      window.location = '/tarea/horasTarea/' + response.idProyecto; 
  }).catch(err => {
    console.log(err);
  });
}

</script>

