


<h1 class="titulo"> Editar Proyecto </h1>

  <input value="<%= proyecto[0].idProyecto %>" type="hidden" id="idProyecto">
  <div class="contenedorProyecto">
    <form action="" method="POST">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Nombre del proyecto</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input value="<%= proyecto[0].nombreP %>"class="input" type="text" placeholder="Escribe aqui" id="nombreP" name="nombreP" onkeyup="deshabilitar()">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Descripción</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input value="<%=proyecto[0].descripcion %>"class="input" type="text" placeholder="Escribe aqui" id="descripcion" name="descripcion" onkeyup="deshabilitar()">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Estatus</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control select is-fullwidth">
              <select  id="estatus" name="estatus">
                  <option value= "Selecciona un estatus" selected disabled>Selecciona un estatus</option>
                  <option value= "<%= proyecto[0].estatus %>"><%= proyecto[0].estatus %></option>
                  <option value= "Finalizado">Finalizado</option>
                  <option value= "En Revisión">En Revisión</option>
                  <option value= "Planeación">Planeación</option>

              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Colaboradores</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <%= nombreSesion %>
            </br>

            <div class="label" >
              <div class="row">
                <label class="label">Colaboradores Registrados: </label>
              </div>
              <ul id="listaColabsRegistrados">
                <% for (let p of proyecto) { %>
                  <li><%= p.nombre %> <a href="/proyecto/eliminar/<%= p.idProyecto %>"><img src="../../media/borrar.png" id="borrarColabEditProyecto"></a></li>
                <% } %>
              </ul>
            </div>

              <div class="select is-fullwidth"> 
                <select name="nombre" id="nombre"> 
                  <option value="" disabled selected> Selecciona a los colaboradores</option>
                  <% for (let e of empleado) { %>
                    <% if (e.idEmpleado != idSesion){ %>
                      <option value ="<%= e.idEmpleado %>"><%= e.nombre %></option>                       
                    <% } %>
                  <% } %>
                </select><a class="button is-link is-outlined botonAgregarColabProyecto" onclick="agregarColaborador()" id="agregarColaborador"> + </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- desplegar los compañeros-->
      <div class="divColaboradores" id="listaColabradores">
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Stack Tecnológico</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input value="<%= proyecto[0].stackTecnologico %>"class="input" type="text" placeholder="Escribe aqui" id="stackTecnologico" name="stackTecnologico" onkeyup="deshabilitar()">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Stakeholders</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input value="<%= proyecto[0].stakeholders %>"class="input" type="text" placeholder="Escribe aqui" id="stakeholders" name="stakeholders" onkeyup="deshabilitar()">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <input type="button" value="Modificar" id= "submitProyectobtn" disabled class="button botonAgregarTarea is-success is-outlined"onclick="postEditarProyecto()">
          <button type="reset" class="button botonAgregarTarea is-danger is-outlined" onclick="window.location.href='/proyecto/misProyectos/';">Regresar</button>
        </p>
      </div>
    </form>
  </div>
  <script src="/js/scriptEditarProyecto.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  