
<div class="field is-static">
  <h1 class="titulo">Mis tareas</h1>
  
  <script>
    let data = {
      nombreP: nombreP.value,
      nombreT: nombreT.value,
      horasRegistradas: horasRegistradas.value,
      fecha: t.fecha    
    }
    console.log(data)
    fetch(ruta, {
      method: 'POST',
      headers: {
          'Content-Type': 'application/json'
      },
      body:JSON.stringify(data)
  })
</script>

  <div class="columns">
    <div class="column">
      <table class="table">
        <thead>
          <tr>
            <th><abbr title="Proyecto">Proyecto</abbr></th>
            <th><abbr title="Tarea">Tarea</abbr></th>
            <th><abbr title="Fecha">
              <div class="input-field">
                <input id="fechaInicio" type="date">
                <input id="fechaFin" type="date">
              </div>
            </abbr></th>
            <th><abbr title="Horas">Horas</abbr></th>
          </tr>
        </thead>

    <div id="lista_fechas">
      <tbody>        
        <% for (let t of tarea) { %>
          <tr>
            <td><%= t.nombreP %></td>
            <td><%= t.nombreT %></td>
            <td><%= t.fecha.getDate() + "-"+ t.fecha.getMonth()+ "-" + t.fecha.getFullYear();%></td>
            <td><%= t.horasTrabajo %></td>
          </tr>
          <% } %>
      </tbody>
    </div>
    
        <script>
          const asyncFunc = () => {
              const fechaInicio = document.getElementById('fechaInicio').value;
              const fechaFin = document.getElementById('fechaFin').value

              //función que manda la petición asíncrona
              fetch('/tarea/buscar/' + fechaInicio + '/' + fechaFin, {
                  method: 'GET',
              }).then(result => {
                  return result.json(); //Regresa otra promesa
              }).then(data => {
                  //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
                  console.log(data);
  
                  let html = '';
                  if (data.fecha > 0) {                 
                    html += '<div>'
                    html += '<tr>';
                    html += '<td><%= data.nombreP %></td>';
                    html += '<td><%= data.nombreT %></td>';
                    html += '<td><%= data.fecha.getDate() + "-"+ data.fecha.getMonth()+ "-" + data.fecha.getFullYear();%></td>';
                    html += '<td><%= data.horasTrabajo %></td>';
                    html += '</tr>';
                    html += '</div>'                   
                  } else {
                      html = '<h2>No hay tareas registradas en el periodo seleccionado.</h2>';
                  }
                  document.getElementById("lista_fechas").innerHTML = html;
                
              }).catch(err => {
                  console.log(err);
              });
          };
  
          document.getElementById('fechaFin').oninput = asyncFunc;
      </script>
  
      <a href="/tarea/registrarTarea"><button class="botonTarea">Registrar nueva tarea</button></a>
    </div>
  </div>
</div>