<div class="titulo">Reporte semanal NatDev</div>

            <div class="fechas_reporte">
                <div class = "row">
                    <div class="input-field is-normal">
                        <h6>Fecha inicio: </h6>
                        <input id="fechaInicio" type="date">
                        <h6>Fecha fin: </h6>
                        <input id="fechaFinal" type="date">
                        <h6>Número reporte: </h6>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="porcentajes">
                        <h6>Porcentaje: </h6>
                        <input class = "porcentaje" type = "number" id = "porcentaje"
                        onkeyup="eficiencia()" onclick="eficiencia()" placeholder="0.85" value = "0.85">
                        <h6>Verdadero porcentaje de eficiencia: </h6> 
                        <label class = "porcentajeEficiencia" type = "number" id = "porcentajeEficiencia" value = "0">0</label>  
                        
                        <h6>Proporción: </h6> 
                        <label class = "proporcion" type = "number" id = "proporcion" value = "0">0</label>
                    </div>
                </div>
            </div>
                
    <div class="columns">
        <div class="column">
            <div class="inputs_reporte">
                <div class = "field is-horizontal"> 
                    <label class = "label">Personal de Medio Tiempo</label>
                    <input class = "input" type = "number" min="0" placeholder = "Ingresar" 
                    onkeyup="horasMedioT()" onclick="horasMedioT()" pattern="^[0-9]+"
                    oninput="this.value = Math.max(this.value, 0)" id = "personalMedioT" value = "0">   
                    <label class = "label">Horas</label>  
                    <div class = "horasMedioT" type = "number" id= "horasMedioT">0</div>                            
                </div>

                <div class="field is-horizontal">
                    <label class = "label">Personal de Tiempo Completo</label>
                    <input class = "input" type = "number" min="0" placeholder = "Ingresar" 
                    onkeyup="horasCompletoT()" onclick="horasCompletoT()" pattern="^[0-9]+"
                    oninput="this.value = Math.max(this.value, 0)" id = "personalCompletoT" value = "0">
                    <label class = "label">Horas</label>  
                    <div class = "horasCompletoT" type = "number" id= "horasCompletoT">0</div>                      
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Total de personal</label>
                    <div type = "number" id= "totalPersonal" min = "0" value = "0"
                    pattern="^[0-9]+" oninput="this.value = Math.max(this.value, 0)">0</div> 
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Horas Esperadas</label>
                    <div type = "number" id= "horasEsperadas" min = "0" value = "0">0</div>
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Horas de Vacaciones</label>
                    <input class = "input" type = "number" min = "0"
                    onkeyup="horasEsperadas()" onclick="horasEsperadas()"
                    value = "0" id= "horasVacaciones" pattern="^[0-9]+"
                    oninput="this.value = Math.max(this.value, 0)">  
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Descripcion</label>
                    <input id = "descripcion" type ="text" placeholder="Ingresar">
                </div>
            </div>
        </div>
    </div>

    <table id="tabla_reporte">
        <thead>
        <tr>
            <th><abbr title="Proyecto">Proyecto</abbr></th>
            <th><abbr title="Tarea">Horas registradas</abbr></th>
            <th><abbr title="Horas">Horas reales</abbr></th>
        </tr>
        </thead>

        
        <tbody id="datos_tabla"> 
            <script>
                const nombreP = new Array();
            </script>       
            <% for (let h of horas) { %>
                <tr>
                    <td><%= h.nombreP %></td> 
                    <td><input id = "horasTrabajo['<%= h.nombreP %>']" type = "number" value="<%= h.horasTrabajo %>" readonly></td> 
                    <td><input value = "<%= h.horasTrabajo %>" type="number" 
                    id = "horasReales['<%= h.nombreP %>']" min = "0" placeholder="0" 
                    onkeyup="sumHoras()" onclick="sumHoras()" pattern="^[0-9]+"
                    oninput="this.value = Math.max(this.value, 0)"></td>
                </tr>
                <script>
                    nombreP.push("<%= h.nombreP %>");
                </script>
             <% } %>
            <tr>
                <td><b>TOTAL</b></td>
                <td id = "totalHorasTrabajo" type = "number" value = "0"></td>
                <td id = "totalHorasReales" type = "number" value = "0"></td>
            </tr>
        </tbody>

        <!--Botón de guardar-->
        <input type="submit" id = "reportebtn" value = "Guardar" onclick="postNuevoReporte()">
        <a href="/reporte/crearPdf" class="button">Crear PDF</a>

        <script>
            const asyncFunc = () => {
                const fechaInicio = document.getElementById('fechaInicio').value;
                const fechaFinal = document.getElementById('fechaFinal').value
  
                //función que manda la petición asíncrona
                fetch('/reporte/buscar/' + fechaInicio + '/' + fechaFinal, {
                    method: 'GET',
                }).then(result => {
                    return result.json(); //Regresa otra promesa
                }).then(data => {
                    //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
                    console.log(data.fecha);
                    let html = '';
                    if (data.fecha.length > 0) {                 
                      for(let f of (data.fecha)) {
                        html += '<tr>';
                        html += '<td>';
                        html += f.nombreP;
                        html += '</td>';
                        html += '<td>';
                        html += f.horasTrabajo;  
                        html += '</td>'; 
                        html += '<td>';
                        html += '<input>';  
                        html += '</td>'; 
                        html += '</tr>';         
                      };                 
                    } else {
                        html = '<h2>No hay proyectos registrados en el periodo seleccionado.</h2>';
                    }
                    document.getElementById("datos_tabla").innerHTML = html;
                  
                }).catch(err => {
                    console.log(err);
                });
            };
    
            document.getElementById('fechaFinal').oninput = asyncFunc;
        </script>

<script src="/js/scriptReporte.js"></script>