<div class="titulo">Reporte semanal NatDev</div>

            <div class="fechas_reporte">
                <div class = "row">
                    <div class="input-field is-normal">
                        <h6>Fecha inicio: <%= reporteN[0].fechaInicio %></h6>
                        <h6>Fecha fin: <%= reporteN[0].fechaFinal %></h6>
                        <h6>Número reporte: 
                        <%= reporteN[0].noReporte %>
                        </h6>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="porcentajes">
                        <h6>Porcentaje: <%= reporteN[0].porcentaje %></h6> 
                        <h6>Verdadero porcentaje de eficiencia:</h6> 
                    </div>
                </div>
            </div>
                
    <div class="columns">
        <div class="column">
            <div class="inputs_reporte">
                <div class = "field is-horizontal"> 
                    <label class = "label">Personal de Medio Tiempo: <%= reporteN[0].personalMedioT %></label>                              
                </div>

                <div class="field is-horizontal">
                    <label class = "label">Personal de Tiempo Completo: <%= reporteN[0].personalCompletoT %></label>
                    <div class = "horasCompletoT" type = "number" id= "horasCompletoT"></div>                      
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Total de personal</label>
                    <div type = "number" id= "totalPersonal" min = "0" value = "0"></div> 
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Horas Esperadas</label>
                    <div type = "number" id= "horasEsperadas" min = "0" value = "0">0</div>
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Horas de Vacaciones: <%= reporteN[0].horasVacaciones %></label>
                    
                </div>
                <div class="field is-horizontal">
                    <label class = "label">Descripcion: <%= reporteN[0].descripcion %></label>
                </div>
            </div>
        </div>
    </div>

    <table id="tabla_reporte">
        <thead>
        <tr>
            <th><abbr title="Proyecto">Proyecto</abbr></th>
            <th><abbr title="Tarea">Horas registradas</abbr></th>
            <th><abbr title="Horas">Horas reales</abbr></th>
        </tr>
        </thead>

        
        <tbody id="datos_tabla"> 
            <script>
                const nombreP = new Array();
            </script>       
            <% for (let h of horas) { %>
                <tr>
                    <td><%= h.nombreP %></td> 
                    <td><input id = "horasTrabajo['<%= h.nombreP %>']" type = "number" value="<%= h.horasTrabajo %>" readonly></td> 
                    <td><input value = "<%= h.horasTrabajo %>" type="number" id = "horasReales['<%= h.nombreP %>']" min = "0" placeholder="0" onkeyup="sumHoras()" onclick="sumHoras()"></td>
                </tr>
                <script>
                    nombreP.push("<%= h.nombreP %>");
                </script>
             <% } %>
            <tr>
                <td><b>TOTAL</b></td>
                <td id = "totalHorasTrabajo" type = "number" value = "0"></td>
                <td id = "totalHorasReales" type = "number"></td>
            </tr>
        </tbody>

        <!--Botón de guardar-->
        <input type="submit" id = "reportebtn" value = "Guardar" onclick="postNuevoReporte()">


<script src="/js/scriptReporte.js"></script>