<column class="proyectosEx">
  <h1 class="tituloProyectoE"> 
    <body>        
      <% for (let p of proyecto) { %>
          <p><%= p.nombreP %></p>
        <% } %>
      </body>
  </h1>

  <div class="imagenExistente">
    <img src="../../media/fotoProyecto.jpeg" alt="imagen descriptiva de proyecto">
  </div>
  
  <div class="descripcionProyectos">
    <% for (let p of proyecto) { %>
      <%= p.descripcion %>
    <% } %>
  </div>

  

  <label class="label estatusPE">Estatus:  
    <% for (let p of proyecto) { %>
      <%= p.estatus %>
    <% } %>
  </label>


  <label class="label stackPE">Stack Tecnologico:  
    <% for (let p of proyecto) { %>
      <%= p.stackTecnologico %>
    <% } %>
  </label>

  <label class="label stakePE">Stakeholders:  
    <% for (let p of proyecto) { %>
      <%= p.stakeholders %>
    <% } %>
  </label>


  <label class="label colaboradoresPE">Colaboradores:  
    <% for (let t of trabaja) { %>
      <%= t.idEmpleado %>
    <% } %>
  </label>
  
</column>