
  <h1 class="tituloProyectoE">        
    <%= proyecto[0].nombreP %>
  </h1>

  <div class="imagenExistente">
    <img src="../../media/fotoProyecto.jpeg" alt="imagen descriptiva de proyecto">
  </div>
  
  <div class="descripcionProyectos">
    <%= proyecto[0].descripcion %>
  </div>

  <label class="label estatusPE">Estatus:  
    <%= proyecto[0].estatus %>
  </label>


  <label class="label stackPE">Stack Tecnologico:  
    <%= proyecto[0].stackTecnologico %>
  </label>

  <label class="label stakePE">Stakeholders:  
    <%= proyecto[0].stakeholders %>
  </label>


  <label class="label colaboradoresPE">Colaboradores: 
    <ul >
      <% for (let t of trabaja) { %>
        <li class="listaColabs"><%= t.nombre %></li>
      <% } %>
    </ul>
  </label>

  <label class="label idProyectoE" id="idProyecto"> Número de Proyecto:  
    <%= proyecto[0].idProyecto %>
  </label>

  <button class="button is-info is-outlined botonRegreso"><a href="/user/inicio"> Regresar</a></button>

  <button class="button is-link is-outlined botonDetalles" id="botonDetalles" data-idProyecto="<% proyecto[0].idProyecto %>">Detalle de horas</button> 
  <!-- <a href="/user/inicio"></a> -->

  <script>
    // cuando se seleeciona un proyecto entra
    function verHorasTarea(event)  {
      console.log("hola si entra :)", event)
      // redirigue a la vista 
      window.location = "/tarea/horasTarea/" + event.target.dataset.idProyecto;
    }

    //al path le añade el numero del proyecto, nombreP es una referencia al elemento que selecciona los datos
    document.getElementById("botonDetalles").addEventListener('click', verHorasTarea);
  </script>
