
  <h1 class="tituloProyectoE">        
      <% for (let p of proyecto) { %>
          <p><%= p.nombreP %></p>
        <% } %>
  </h1>

  <div class="imagenExistente">
    <img src="../../media/fotoProyecto.jpeg" alt="imagen descriptiva de proyecto">
  </div>
  
  <div class="descripcionProyectos">
    <% for (let p of proyecto) { %>
      <%= p.descripcion %>
    <% } %>
  </div>

  <label class="label estatusPE">Estatus:  
    <% for (let p of proyecto) { %>
      <%= p.estatus %>
    <% } %>
  </label>


  <label class="label stackPE">Stack Tecnologico:  
    <% for (let p of proyecto) { %>
      <%= p.stackTecnologico %>
    <% } %>
  </label>

  <label class="label stakePE">Stakeholders:  
    <% for (let p of proyecto) { %>
      <%= p.stakeholders %>
    <% } %>
  </label>


  <label class="label colaboradoresPE">Colaboradores: 
    <ul >
      <% for (let t of trabaja) { %>
        <li class="listaColabs"><%= t.nombre %></li>
      <% } %>
    </ul>
  </label>

  <label class="label idProyectoE" id="idProyecto"> Número de Proyecto:  
    <% for (let p of proyecto) { %>
      <%= p.idProyecto %>
    <% } %>
  </label>

  <button class="button is-info is-outlined botonRegreso"><a href="/user/inicio"> Regresar</a></button>

  <button class="button is-link is-outlined botonDetalles" onclick="verHorasTarea()">Detalle de horas</button> 
  <!-- <a href="/user/inicio"></a> -->

  <script>
    // cuando se seleeciona un proyecto entra
    function verHorasTarea(event)  {
      // redirigue a la vista 
      window.location = "/tarea/horasTarea/" + event.target.id;
    }
    //al path le añade el numero del proyecto, nombreP es una referencia al elemento que selecciona los datos
    document.getElementById("idProyecto").addEventListener('click', verHorasTarea);
  </script>
