<h1 class="titulo"> 
  <body>        
    <% for (let p of proyecto) { %>
        <p><%= p.nombreP %></p>
      <% } %>
    </body>
</h1>

<figure class="image is-128x128">
  <img src="../../public/media/paginaInicio.png" alt="imagen descriptiva de proyecto">
</figure>



<div class="descripcionProyectos">
  <p>
    <% for (let p of proyecto) { %>
      <p><%= p.descripcion %></p>
    <% } %>
  </p>
</div>



<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Estatus</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control">
        <% for (let p of proyecto) { %>
          <p><%= p.estatus %></p>
        <% } %>
      </p>
    </div>
  </div>
</div>


<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Stack Tecnologico</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control">
        <% for (let p of proyecto) { %>
          <p><%= p.stackTecnologico %></p>
        <% } %>
      </p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Stakeholders</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control">
        <% for (let p of proyecto) { %>
          <p><%= p.stakeholders %></p>
        <% } %>
      </p>
    </div>
  </div>
</div>

<!-- 
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Colaboradores</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control">
        <% for (let p of proyecto) { %>
          <p><%= p.colaboradores %></p>
        <% } %>
      </p>
    </div>
  </div>
</div>
 -->
