
  <h1 class="tituloProyectoE">        
    <%= proyecto[0].nombreP %>
  </h1>

  <div class="imagenExistente">
    <img src="../../media/natgasMenu.jpeg" alt="imagen descriptiva de proyecto">
  </div>
  
  <div class="descripcionProyectos">
    <%= proyecto[0].descripcion %>
  </div>

  <label class="label estatusPE">
    Estatus:<% if(proyecto[0].estatus == "Estabilizacion") { %>
      <span style="color: green"><%= proyecto[0].estatus %></span>
    <%} else if (proyecto[0].estatus == "Ejecucion" ) { %>
      <span style="color: #f6a700"><%= proyecto[0].estatus %></span>
    <% } else if(proyecto[0].estatus == "Definicion") { %>
      <span style="color: #b87400"><%= proyecto[0].estatus %></span>
    <% } else if(proyecto[0].estatus == "Pausado") { %>
      <span style="color: red"><%= proyecto[0].estatus %></span>
    <% } %>
  </label>

  


  <label class="label stackPE">Stack Tecnológico:  
    <%= proyecto[0].stackTecnologico %>
  </label>

  <label class="label stakePE">Stakeholders:  
    <%= proyecto[0].stakeholders %>
  </label>


  <label class="label colaboradoresPE">Colaboradores: 
    <ul >
      <% for (let t of trabaja) { %>
        <li class="listaColabs"><%= t.nombre %></li>
      <% } %>
    </ul>
  </label>

  <input class="input" type="hidden" value="<%= proyecto[0].idProyecto %>" id="idProyecto" name="idProyecto">

  <button class="button is-info is-outlined botonRegreso" id = "botonRegreso"><a href="/user/inicio"> Regresar</a></button>

  <% if(listaPrivilegios.indexOf('RegNuevoProyecto') != -1) {  %>
  <a class="button is-info is-outlined botonDetalles" href="/tarea/horasTarea/<%=proyecto[0].idProyecto%>" id="botonDetalle">Detalle de horas</a> 
  
  <% } %> 
 